#stagesContainer{
    width: 100%;
    height: 100%;

    background: #f8ffe8; /* Old browsers */
    background: -moz-linear-gradient(top, #f8ffe8 0%, #c8f7ad 46%, #6be031 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8ffe8 0%,#c8f7ad 46%,#6be031 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8ffe8 0%,#c8f7ad 46%,#6be031 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#6be031',GradientType=0 ); /* IE6-9 */
}

h1 {
    position: absolute;
    top: 30px;
    left: 30px;
}

#stagesVideo {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    margin: 0;
    background: transparent;
    border: none;
}

#stagesVideo ul {
    background: transparent;
    height: 100%;
}

#stagesVideo li {
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
}

#stagesVideo iframe{
    width: 85%;
    height: 70%;
    margin: 20% 7.5% 5% 7.5%;
}

#stagesVideo .twitterWidget {
    position: absolute;
    width: 50%;
    height: 60%;
}

#stagesSelector {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 40%;
    left: 0;

    padding: 5%;
    box-sizing: border-box;
    border: none;
}

#stagesShowTabContainer {
    position: absolute;
    width: 20%;
    height: 90%;
    overflow: hidden;
}

#stagesShowTabContainer input + label{
    width: 110%;
    height: 3em;
    text-align: center;
    background-color: rgb(17, 160, 1);
    border-radius: 10px;

    margin: 0 0 1em 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#stagesShowMainContainer {
    position: absolute;
    width: 65%;
    height: 90%;
    left: 25%;
}

#stagesShowMainContainer .flexslider {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    margin: 0;

    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

#stagesShowMainContainer .flexslider .flex-viewport{
    position: relative;
    width: 100%;
    height: 100%;
}

#stagesShowMainContainer .stagesThumbnailContainer{
    box-sizing: border-box;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-items: center; */
    padding: 40px 10px;
}

#stagesShowMainContainer .stagesThumbnailContainer label{
    width: 40%;
    margin: 5%;
}

#stagesShowMainContainer .stagesThumbnailContainer .stageThumbnail{
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 40px;
    /* margin: 15px; */
    box-sizing: border-box;
    cursor: pointer;
    color: white;

    background-color: white;
    text-align: center;
    Vertical-align: bottom;
    overflow: hidden;
}

.stageThumbnail .stageThumbnailImg{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.stageThumbnail .stageThumbnailTitle{
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: top;
    color: white;
    border-radius: 50px;
}

.stagesTopBar{
    position: absolute;
    width: 33%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 1.5em;
    font-size: 1.5em;
    padding: 0 0 0 30px;
}

.stagesTopBar i{
    cursor: pointer;
    font-size: 3em;
}

.stagePostContainer .stagePostMediaContainer{
    display: none;
}

#stagesShowMainTopBar{
    position: relative;
    background: transparent;
    z-index: 100;
}

#stageVideoSlides1, #stageVideoSlides2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stageVideoSlides1 p, #stageVideoSlides2 p {
    text-align: center;
}